:root {
  --main: rgba(25, 240, 222, 255);
  --select: rgba(56, 49, 77, 255);
  --text: rgba(56, 49, 77, 255);
  --back: rgba(30, 27, 48, 255);
  --red: rgb(231, 67, 93);
  --grey: rgb(55, 62, 67);
  --white: rgb(239, 243, 240);
  --black2: rgb(22, 28, 31);
  --black: black;
  --lightGrey: lightgrey;
}



* {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}