.card {
  box-shadow: 0 0 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.image {
  display: flex;
  padding: 0.5em;
}

.image img {
  height: 100px;
  width: 100px;
}


.texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.texte p,
h4 {
  margin: 0.5em;
}