.cards {
  display: inline-block;
  padding: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  border-radius: 20px;
  width: 300px;
  height: 450px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(246, 243, 243, 0.78);
  transition: box-shadow 0.3s ease;
  color: black;
  padding-bottom: 0.5rem;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(246, 243, 243, 1);
}
.imgArea {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}

.imgArea img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.datearea {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}

.datearea p {
  color: #ff3d00;
  margin-right: 10px;
}

.textarea h3 {
  margin-left: 10px;
  padding: 10px;
}
.locationArea {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (max-width: 650px) {
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 340px;
    max-width: 370px;
    border: none;
    background: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 10px;
  }

  .datearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 25px;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 75px;
    width: 75px;
    margin: 0;
  }

  .datearea p {
    color: black;
    padding: 0;
    margin: 0;
  }

  .textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    position: absolute;
    bottom: 100px;
    left: 10px;
    margin: 0;
    color: #ffffff;
  }
  .textarea h3 {
    padding: 0;
  }

  .locationArea {
    position: absolute;
    left: 10px;
    bottom: 40px;
    color: #ffffff;
  }
  .imgArea {
    width: 300px;
    height: 250px;
    border-radius: 20px;
  }
  .imgArea img {
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
  }
}
