.eventspreview {
  text-align: start;
}

.eventspreview h2 {
  margin-top: 20px;
}

.eventspreview p {
  margin-top: 10px;
}

.endedEvents {
  opacity: 0.5;
}
.sortField label {
  font-weight: bold;
  margin-right: 10px;
}
.sortField select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
}
