.footer {
  text-align: center;
  bottom: 0;
  height: 40px;
  padding-top: 10px;
  /* background: rgba(0, 0, 0, 0.9); */
  background-color: #69013b;
  color: white;
}

.toTopBtn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
  .footer {
    height: 96px;
    padding-top: 10px;
  }
}
