.header {
  background-color: black;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

@media (max-width: 650px) {
  .header {
    justify-content: center;
  }
}
