@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
  /* background-color: #ff5d4c; */
  /* background: rgba(0, 0, 0, 0.92); */
  background-color: #69013b;
  padding: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: silver solid;
}
.logoutButton {
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
  background-color: #f2f7f5;
}
.user {
  font-family: 'Raleway', sans-serif;
}
/* @media (max-width: 650px) {
  .header {
    justify-content: center;
  }
} */

.logoutButton {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
