@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
  background: var(--black);
  padding: 16px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--white);
  text-decoration: none;
}

.header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: silver solid;
  margin: 5px 10px;
}

.login {
  display: flex;
  margin-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name h3 {
  margin: 0;
}

.name p {
  margin: 0;
}

.name button {
  border-radius: 5px;
  background-color: var(--red);
  border-style: none;
  margin-top: 3px;
  cursor: pointer;
}
@media (max-width: 650px) {
  .user h2 {
    font-size: 14px;
  }
  .logoutButton {
    font-size: 10px;
  }
}
