.helsinki {
  display: flex;
  justify-content: center;
  align-items: center;
}

.helsinki ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.helsinki ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
