.loginForm fieldset {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

.loginForm legend {
}

.loginForm label {
  margin: 10px 0 5px;
}

.loginForm input {
  border-radius: 5px;
  padding: 10px;
}

.submitbutton {
  margin-top: 20px;
  width: 163px;
  background-color: black;
  color: white;
  border: solid 1px white;
}
