.loginForm fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    border-radius: 5px;

}

.loginForm legend {
    margin: auto;
}


.loginForm label {
    margin-top: 1rem;
}

.loginForm input {
    border-radius: 5px;
    padding: 0.3rem;
}

.submit-button {
    margin: 1rem;
}