.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: white;
  padding: 16px;
  text-decoration: none;
}

.nav ul li a.active {
  color: red;
  text-decoration: none;
}

.nav ul li a:hover {
  color: red;
  text-decoration: none;
}

@media (max-width: 650px) {
  .nav {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.50);
  }

  .nav ul li a {
    padding: 16px;
    text-decoration: none;
  }
}