.cardarea {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
}

.food input {
  border-radius: 5px;
  border: 1px solid darkgrey;
  box-shadow: none;
  padding: 16px;
  margin: 30px;
  font-family: inherit;
  text-align: center;
  width: 160px;
}

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
}