.event {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event,
.event h3,
.event h4 {
  align-items: start;
}

.event img {
  width: 350px;
  border-radius: 20px;
}

.event button {
  border-radius: 15px;
  height: 60px;
}

.event textarea {
  border-radius: 8px;
  height: 50px;
  margin-right: 20px;
}

.formcontainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.comments {
  text-align: start;
}

.comments li {
  list-style: none;
  border: solid 1px white;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
}

.author {
  border-bottom: solid 1px white;
}
